<%- include('./partials/header.ejs') -%>

    <h1>Home</h1>
    <p><%= content %></p>
   
    
    <% posts.map((post) => { %>
        <h1><%= post.title %></h1>
        <p>
            <%= post.content.substring(0,200) %>...
            <a href='posts/<%= post.title %>'>Read More</a>
        </p>
    <% }) %> 

<%- include('./partials/footer.ejs') -%>